*.xcf
.local/
.vscode/
public/
resources/_gen/

# Submodules -> watched by dependabot
themes/LoveIt

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# Linux
.directory
